# Image processing
opencv-python-headless==4.5.4.60
numpy==1.26.2
Pillow==10.0.1
PyMuPDF==1.24.7

# Machine learning
scikit-learn==1.5.1

# Optical character recognition (OCR)
easyocr==1.6.2

# Text processing and error correction
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1

# Web application framework
streamlit==1.36.0